{% extends 'blogs/base.html' %}
{% load static %}

{% block content %}
    {% for post in posts %}
        <div class="post">
        
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        
        <div class ="date">{{ post.created_date }}
            </div>
            <hr>
            <p>{{ post.text|linebreaksbr|truncatechars:255 }}</p>
            <div align="right">
            <h2><a href="{% url 'post_detail' pk=post.pk %}"><i class="fas fa-comment" color="#C25100"></i> {{ post.approved_comments.count }}</a></h2></div>
        </div>
    {% endfor %}
{% endblock %}